<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <!--layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"-->
  <targets>
    <target name="allfile" xsi:type="File"
        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
        fileName="${basedir}\logs\TransUnion_API_${shortdate}.log" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>
  
  <!--<rules>
    --><!--Skip non-critical Microsoft logs and so log only own logs--><!--
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>-->
</nlog>